<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Note</title>
  <script>
    window.onload = function() {
      const textarea = document.getElementById('note-reply');
      function copyToClipboard() {
        navigator.clipboard.writeText(textarea.value)
          .then(() => {
            console.log('Text copied to clipboard');
          })
          .catch(err => {
            console.error('Could not copy text: ', err);
          });
      }
      document.querySelector('button').addEventListener('click', copyToClipboard);

      let lineCount = (textarea.value.match(/\n/g) || '').length + 1;
      let maxLineLength = Math.max(...textarea.value.split('\n').map(line => line.length));
      textarea.rows = lineCount;
      textarea.cols = maxLineLength;
    }
  </script>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/past-notes">Past Notes</a></li>
    </ul>
  </div>
  <h1>Note</h1>
  <button>Copy to clipboard</button>
  <div id="note-container">
    <h2>Patient Name: <%= note.patient_name %></h2>
    <h3>Timestamp: <%= new Date(note.timestamp).toLocaleString() %></h3>
    <textarea id="note-reply"><%- note.reply %></textarea>
  </div>
</body>
</html>
