body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    padding-top: 60px; /* Add padding to body to avoid content being hidden behind the fixed navbar */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

nav {
    position: fixed; /* Fixed navbar */
    top: 0; /* Align navbar to top */
    width: 100%;
    background-color: #40acc9;
    z-index: 1000; /* Make sure navbar is on top of all other elements */
}

.nav-logo {
    height: 50px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
    float: left; /* To float the logo to the left */
}

.header-logo {
    height: 3em; /* Adjust as needed */
    width: auto;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #111;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #40acc9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:focus {
    outline: none;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
}

<style>
    textarea {
        width: 100%;  /* You can set this to any width. */
        height: 300px;  /* You can set this to any height. */
    }
</style>

.transcription-box {
  background-color: #fff; /* Or any color you prefer */
  border: 1px solid #000; /* Or any color you prefer */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  max-width: 600px; /* Adjust this value as needed */
  margin: 10px auto; /* This centers the box if the parent element has a defined width */
}

.dropdown-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}