body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    padding-top: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Changed from center to flex-start */
    flex-grow: 1;
    padding: 0 10px; /* Add padding to sides for better visual spacing */
}

.header-logo {
    height: 3em;
    width: auto;
}

.header {
  text-align: left; /* Changed from center to left */
  margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #40acc9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px; /* Add a margin to the right to separate the buttons */
}

button:focus {
    outline: none;
}

.disclaimer {
    font-size: 1rem;
    color: #888;
    opacity: 0.8;
    margin-top: 20px;
}

#output-text {
    width: 100%;
    height: calc(100% - 2em); /* Fill up the remaining space, adjust value as necessary */
}

.transcription-box {
  background-color: #fff;
  border: 
